body{
  background: -webkit-linear-gradient(left, #6cac96, #00c6ff);
}
* {
  box-sizing: border-box;
}
.emp-profile{
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 10%;
  border-radius: 4rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  top:-40%;
  bottom:10%;
  width: 80%;
  height: 80%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #00ccc2;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 0 ;
  font-weight: 100;
  color: #6c757d;
 
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: 15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 200;
  margin-top: -65%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 10rem;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 200;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}





input,textarea{
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
	margin:0;
	outline: none;
}

.count-container form{
	max-width: 700px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
}
.count-container form .input-group{
	width: 100%;
	margin-bottom: 30px;
}

.count-container form textarea.input-control{
	height: 140px;
}
.count-container form .input-msg{
	font-size: 18px;
	padding-top: 10px;
}
.text-red{
	color: red;
}
.text-orange{
	color: orange;
}







.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}


.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}
.icon,
.text {
  vertical-align: right;
  display: inline-block;
}



#hello:hover {
  letter-spacing: 0.1em;
  background-color: #ec6072;
}

#hello {
  color: #1e1f1c;

}
button {
  height: 4em;
  width: 25%;
  padding: 1em auto;
  margin: 1em auto;
  background-color: #27cec0;
  border: 3px;
 
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 0cm;
  transition: all 0.1s cubic-bezier(.4,0,.2,1);
 
}
.card{
  display:inline-block;
  
   box-sizing:border-box;
    cursor:pointer;
  background-color: whitesmoke;
  background-position: center ;
    background-size: cover;
    transition: transform 0.5s;
  }
  
 
